body {
font-family:arial;
color:blue;
}

#nav{padding:10px; width:auto; background-color:purple;}

ul{list-style-type: none; margin: 0; padding: 0;}

li{display:inline; padding-right:50px;}

a.nav:link{color:white;}
a.nav:visited{color:green;}
a.nav:hover{color:red; text-decoration: underline;}

p{padding-bottom:2px;}

#container{width:900px; height:500px; background-color:red; position:realtive; margin: 0px auto;}
/* The POSITION AND MARGIN in this style center the container */

#content1{background-color:red; padding:10px;}

#content2{background-color:red; padding:10px;}

#header{width:900px; height:100px; background-color:yellow;}

#box1{width:240px; height:100px; background-color:blue; margin:10px; padding:10px; float:left;}

#box2{width:240px; height:100px; background-color:green; margin:10px; padding:10px; float:left;}

#box3{width:240px; height:100px; background-color:orange; margin:10px; padding:10px; float:left;}

#footer{height:50px; background-color:green;}
